// .gallery {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 5px;
//     padding: 10px;
// }

.search-container{
    width: 100%;
    position: relative;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;


    min-width: 400px;
    height: 60px;
    background-color: $secondary-accent-color;

    & input {
        width: 500px;
        height: 40px;
        border: 2px solid $main-txt-color;
        border-radius: 10px;
        padding: 5px;
    } 

    & button {
        height: 40px;
        border-radius: 10px;
        border: 1px solid $main-txt-color;
        // position: absolute;
        // right: 15px;
    }
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    padding: 10px;

    width: 100%;

    @media screen and (min-width: 640px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 960px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: 1600px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.photo-card {
    // width: calc((100% - 30px) / 4);
    width: 100%;
    height: 100%;
    background-color: $card-bg-color;
    border-radius: 12px;
    box-shadow: 7px 7px 7px $secondary-txt-color, -7px -7px 7px #fafafa;

    & img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 12px 12px 0 0;
    }
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: 3px;
    font-size: 14px;

    @media screen and (min-width: 1600px) {
        font-size: 16px;    
}

    // border-left: 1px solid black;
    // border-right: 1px solid black;
    // border-bottom: 1px solid black;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

    &:not(:last-child) {
    border-right: 1px solid $secondary-txt-color;
    }
}

.endlist {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    color: $main-txt-color;
    background-color: $main-accent-color;

    margin: 20px auto 0;
    font-size: 32px;
}